* {
    margin: 0;
    padding: 0;
    font-family: 'Sono', sans-serif;
    background-color: #dcdee1;
 }

 .navbar {
    display:flex;
    justify-content: flex-end;
    padding: 20px 20px;
    background-color: #7a8dac;
    overflow: hidden;
 }

 .navbar a {
    font-size: 20px;
    padding: 10px 20px;
    float: left;
    color: #f1f1f1;
    text-decoration: none;
    background-color: #7a8dac;
 }

 .navbar a:hover {
    background-color: #4b576b;
    transition: all 1s;
 }

 #profile {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    object-fit: cover;
    float:left;
    transform: scale(1.2);
    margin-right: 5%;
 }

 #circle {
   width: 150px;
   height: 150px;
   
   border-radius: 50px;
 }

 .button {
   border: none;
   color: white;
   padding: 35px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 22px;
   margin: 20px 2px;
   border-radius: 50%;
 }

 .button:hover {
   background-color: #4b576b;
   transition: all 1s;
}

 .button-1 {
   background-color: rgb(24, 200, 200);
 }

 .button-2 {
   background-color: rgb(59, 164, 164);
 }

 .button-3 {
   background-color: rgb(115, 195, 195);
 }

 .main {
    margin: 15% 30%;
    width: 42%;
    /* border: 5px solid darkblue; */
    transform: scale(1.1);
 }
 
 .elements {
   display: flex;
   margin: 0px 10px;
   padding: 5px 20px 5px 20px;
   flex-direction: column;
 }

 #hello {
   font-size: 70px;
   padding-bottom: 3%;
 }

 #bit {
   font-size: 25px;
   padding-bottom: 10px;
 }

 #info {
   font-size: 20px;
 }

 hr {
   margin: 10px;
 }

 .footer-info p {
   margin-top:5px;
 }

 .about, .projects {
   margin: 7% 10%;
   font-size: 20px;
 }

 .projects {
    padding-top:0%;
    padding-bottom:10%;
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 300px;
 }

 #slide-h3 {
  margin-top: 40px;
  margin-bottom: 30px;
}
 .slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
 }

 .slide > p {
  margin-bottom: 20px;
 }

.slide {
    width: 100%;
    height: 100%;
    /* flex: 1 0 100%; */
    display: flex;
    flex-direction: column;
}

#img-slide-1, #img-slide-2, #img-slide-3 {
  width: 90%;
  height: 30%;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

 .about h1 {
   margin-bottom: 1%;
 }
 .about p {
   margin: 0% 50% 2% 0%;
 }

 .visual {
    margin: 5% 5%;
    display: flex;
    font-size: 20px;
 }
 
 .visual-text {
  margin-left: 2%
 }

 .visual-img {
  margin-right: 2%;
 }

 .visual-text > p {
    margin-bottom: 2%;
 } 

 .visual-text > h2, .credits > h2{
    margin-bottom: 2%;
 }

 .credits {
   margin: 5% 10%;
 }

 .credits-li {
  font-size: 20px;
  margin-bottom: 1%;
 }

 .footer {
  position: relative;
  bottom:60px;
  width:100%;
}

.footer-info {
  display: flex;
  justify-content: space-around;
}
